@font-face {
  font-family: 'Ubuntu';
  src: url('./Ubuntu-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 50px auto;
}

.menu-open {
  background-image: url("./images/menu-open.png");
  width: 40px;
  height: 44px;
  cursor: pointer;
}

.menu-closed {
  background-image: url("./images/menu-closed.png");
  width: 40px;
  height: 44px;
  cursor: pointer;
}


.menu-container {
  z-index: 900;
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  margin-top: 120px;
  height: 440px;
  padding: 120px 0;
}

.menu {
  color: #ED1C24;
  margin: auto 0;
}

.menu a {
  color: #ED1C24;
  text-decoration: none;

}

.menu>nav {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  font-size: 24px;
}

.page-menu {
  height: 60px;
  font-weight: bold;
  margin: 0 auto;
}

.page-menu li {
  list-style-image: url("./images/list-bullet.png");
  margin-left: 10px;
}

.page-menu li:first-child {
  list-style-type: none;
  list-style-image: none;
}

.page-menu li>a:hover {
  text-decoration: underline;
}

.main-menu {
  height: 60px;
}

.main-menu>a {
margin: 0 25px;
}

.main-menu img {
  margin: 15px auto;
  }
  

footer {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 50px auto;
}





/* HOME GRID */
.homegrid {
  width: 480px;
  margin: 0 auto 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  transform: rotate(45deg);
}

.homegrid>div {
  width: 120px;
  height: 120px;
  background-color: #ED1C24;
  text-decoration: none;
}

.homegrid>div a{
  text-decoration: none;
}

.homegrid1 {
  grid-area: 1 / 3 / 2 / 4;
}

.homegrid2 {
  grid-area: 2 / 1 / 3 / 2;
}

.homegrid3 {
  grid-area: 2 / 2 / 3 / 3;
}

.homegrid4 {
  grid-area: 2 / 3 / 3 / 4;
}

.homegrid5 {
  grid-area: 2 / 4 / 3 / 5;
}

.homegrid6 {
  grid-area: 3 / 3 / 4 / 4;
}

.homegrid-icon {
  margin: auto auto;
  transform: rotate(-45deg);
}

.text {
  color: white;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
}


/* TITLE in boxes */
.grid-item-title {
  margin: 40px 8px auto;
  transform: rotate(45deg);
}

.item-title {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  margin: 0 auto;
  width: 100%;
}



.grid-description-icon {
  position: relative;
  top: 145px;
  right: 190px;
}


/* HEART */
.heartgrid {
  width: 480px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  transform: rotate(-45deg);
}

.heartgrid>div {
  width: 120px;
  height: 120px;
  background-color: #E91E63;
}

.heartgrid1 {
  grid-area: 1 / 3 / 2 / 4;
}

.heartgrid2 {
  grid-area: 2 / 1 / 3 / 2;
}

.heartgrid3 {
  grid-area: 2 / 2 / 3 / 3;
}

.heartgrid4 {
  grid-area: 2 / 3 / 3 / 4;
}

.heartgrid5 {
  grid-area: 2 / 4 / 3 / 5;
}

.heartgrid6 {
  grid-area: 3 / 2 / 4 / 3;
}


.heart-icon-container {
  position: absolute;
top: 280px;
    right: 150px;
}

.heart-description-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  width: 263px;
  margin: 87px auto;
  text-align: center;
}

/* HUMMINGBIRD */

.hummingbirdgrid {
  width: 480px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  transform: rotate(-45deg);
}

.hummingbirdgrid>div {
  width: 120px;
  height: 120px;
  background-color: #f35a02;
}


.hummingbirdgrid1 {
  grid-area: 1 / 3 / 2 / 4;
}

.hummingbirdgrid2 {
  grid-area: 1 / 4 / 2 / 5;
}

.hummingbirdgrid3 {
  grid-area: 2 / 1 / 3 / 2;
}

.hummingbirdgrid4 {
  grid-area: 2 / 2 / 3 / 3;
}

.hummingbirdgrid5 {
  grid-area: 2 / 3 / 3 / 4;
}

.hummingbirdgrid6 {
  grid-area: 3 / 3 / 4 / 4;
}

.hummingbird-icon-container {
  position: fixed;
  top: 258px;
  right: 1232px;
}

.hummingbird-description-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  width: 228px;
  margin: 42px auto 0;
  padding: 50px 44px 44px;
  text-align: center;
  border-radius: 75%;
}



.leafgrid {
  width: 480px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  transform: rotate(-45deg);
}

.leafgrid>div {
  width: 120px;
  height: 120px;
  background-color: #353132;
}

.leafgrid1 { grid-area: 1 / 1 / 2 / 2; }
.leafgrid2 { grid-area: 2 / 1 / 3 / 2; }
.leafgrid3 { grid-area: 2 / 2 / 3 / 3; }
.leafgrid4 { grid-area: 2 / 3 / 3 / 4; }
.leafgrid5 { grid-area: 2 / 4 / 3 / 5; }
.leafgrid6 { grid-area: 3 / 3 / 4 / 4; } 

.leaf-icon-container {
  position: absolute;
top: 0px;
    right: 110px;
}

.leaf-description-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  width: 241px;
  margin: 88px auto 0;
  padding: 50px 44px 44px;
  text-align: center;
  border-radius: 75%;
}


/* SPACESHIP */
.spaceshipgrid {
  width: 360px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  transform: rotate(-45deg);
  }

  .spaceshipgrid>div {
    width: 120px;
    height: 120px;
    background-color: #FFC700;
  }
  
  .spaceshipgrid1 { grid-area: 1 / 1 / 2 / 2; }
  .spaceshipgrid2 { grid-area: 1 / 2 / 2 / 3; }
  .spaceshipgrid3 { grid-area: 1 / 3 / 2 / 4; }
  .spaceshipgrid4 { grid-area: 2 / 2 / 3 / 3; }
  .spaceshipgrid5 { grid-area: 3 / 2 / 4 / 3; }
  .spaceshipgrid6 { grid-area: 3 / 3 / 4 / 4; }
  
  .spaceship-icon-container {
    position: absolute;
  top: 280px;
      right: 150px;
  }
  
  .spaceship-description-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    width: 252px;
    margin: 63px auto 0;
    padding: 50px 44px 44px;
    text-align: center;
    border-radius: 75%;
  }


  /* FIREFLY */
  
  .fireflygrid {
    width: 480px;
    margin: 0 auto;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 2px;
grid-row-gap: 2px;
transform: rotate(64deg);
}

.fireflygrid>div {
  width: 120px;
  height: 120px;
  background-color: #D0F63C;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
}

.fireflygrid1 { grid-area: 1 / 1 / 2 / 2; }
.fireflygrid2 { grid-area: 1 / 2 / 2 / 3; }
.fireflygrid3 { grid-area: 2 / 2 / 3 / 3; }
.fireflygrid4 { grid-area: 2 / 3 / 3 / 4; }
.fireflygrid5 { grid-area: 2 / 4 / 3 / 5; }
.fireflygrid6 { grid-area: 3 / 4 / 4 / 5; }

.firefly-item-title {
    transform: rotate(-64deg);
    font-size: 14px;
    line-height: 14px;
    width: 120px;
    height: 120px;
    display: inline-block;
    vertical-align: middle;
    padding: 47px 0px 0px 24px;
  }

  .firefly-icon-container {
    position: absolute;
  top: 280px;
      right: 150px;
  }
  
  .firefly-description-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    width: 252px;
    margin: 63px auto 0;
    padding: 50px 44px 44px;
    text-align: center;
    border-radius: 75%;
  }


/* ANKH */

.ankhgrid {
  width: 360px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  transform: rotate(-45deg);
  }

  .ankhgrid>div {
    width: 120px;
    height: 120px;
    background-color: #ECE3C9;
  }
  
  
  .ankhgrid1 { grid-area: 1 / 2 / 2 / 3; }
  .ankhgrid2 { grid-area: 1 / 3 / 2 / 4; }
  .ankhgrid3 { grid-area: 2 / 1 / 3 / 2; }
  .ankhgrid4 { grid-area: 2 / 2 / 3 / 3; }
  .ankhgrid5 { grid-area: 3 / 2 / 4 / 3; }
  .ankhgrid6 { grid-area: 3 / 3 / 4 / 4; }
  

.ankh-icon-container {
  position: fixed;
top: 280px;
    right: 150px;
}

.ankh-description-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  width: 287px;
  margin: 42px auto 0;
  padding: 50px 44px 44px;
  text-align: center;
  border-radius: 75%;
}


/* PAGE */
.page {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.page-previous{
  padding: 45px;
  text-align: right;
display: flex;
flex-direction: column;
justify-content: space-between;

}

.page-social-icons {
  display: flex;
 margin-top: 500px;

}
.page-social-icons>a {
 margin-right: 10px;
 
}

.page-body {
  width:850px;

padding: 0px 80px;
font-size: 18px;

}

.page-body h1 {
  font-size: 34px;
  margin-bottom: 0px;
  }

  .page-body h2 {
    font-size: 18px;
    margin: 10px 0 50px;
    }
  

.page-body p {
line-height: 30px;
}

.page-next {
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
}


/* POST  */


.post {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.post-previous{
  padding: 45px;
  text-align: right;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 600px;
}

.social-icons {
  display: flex;
  flex-direction: column;
}

.social-icons a {
margin-bottom: .5em;
}

.post-body {
  width:850px;
background-color: #FFFFFA;
padding: 140px 80px;
font-size: 18px;

}

.post-body h1 {
  font-size: 34px;
  margin-bottom: 0px;
  }

  .post-body h2 {
    font-size: 18px;
    margin: 10px 0 50px;
    }
  

.post-body p {
line-height: 30px;
}

.post-next {
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
}
.post-tag-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}


.wp-block-gallery ul {
  list-style: none;
  margin: 0 0 -1.6rem 0;
}

.blocks-gallery-grid, .wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;}

  .blocks-gallery-item {
    margin: 0 16px 16px 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/* Gatsby Starter Styles */
.pagination {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}

.pagination li {
  list-style: none;
  display: inline-block;
}

.pagination li:not(.next):not(.previous) a {
  padding: 15px;
  display: block;
}

.pagination .next {
  justify-self: end;
}

.pagination .previous {
  justify-self: start;
}