@font-face {
  font-family: 'Ubuntu';
  src: url('./Ubuntu-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 50px auto;
}

.menu-open {
  background-image: url("./images/menu-open.png");
  width: 40px;
  height: 44px;
  cursor: pointer;
}

.menu-closed {
  background-image: url("./images/menu-closed.png");
  width: 40px;
  height: 44px;
  cursor: pointer;
}


.menu-container {
  z-index: 900;
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  margin-top: 120px;
  height: 440px;
  padding: 120px 0;
}

.menu {
  color: #e30613;
  margin: auto 0;
  border: 1px solid;

}

.menu a {
  color: #e30613;
  text-decoration: none;

}

.menu>nav {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  font-size: 24px;
}

.page-menu {
  height: 60px;
  font-weight: bold;
  margin: 0 auto;
}

.page-menu li {
  list-style-image: url("./images/list-bullet.png");
  margin-left: 10px;
}

.page-menu li:first-child {
  list-style-type: none;
  list-style-image: none;
}

.page-menu li>a:hover {
  text-decoration: underline;
}

.homegrid {
  width: 480px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  transform: rotate(45deg);
}

.homegrid>div {
  width: 120px;
  height: 120px;
  background-color: #e30613;
  text-decoration: none;
}

.homegrid>div a{
  text-decoration: none;
}

.homegrid1 {
  grid-area: 1 / 3 / 2 / 4;
}

.homegrid2 {
  grid-area: 2 / 1 / 3 / 2;
}

.homegrid3 {
  grid-area: 2 / 2 / 3 / 3;
}

.homegrid4 {
  grid-area: 2 / 3 / 3 / 4;
}

.homegrid5 {
  grid-area: 2 / 4 / 3 / 5;
}

.homegrid6 {
  grid-area: 3 / 3 / 4 / 4;
}

.homegrid-icon {
  margin: auto auto;
  transform: rotate(-45deg);
}

.text {
  color: white;
  text-decoration: none;
  margin: 50px 40px;
  font-size: 28px;
}


/* TITLE in boxes */
.grid-item-title {
  margin: 40px 8px auto;
  text-align: center;
  transform: rotate(45deg);
  font-size: 17px;
  line-height: 17px;
}

/* HUMMINGBIRD */
.heartgrid {
  width: 480px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  transform: rotate(-45deg);
}

.heartgrid>div {
  width: 120px;
  height: 120px;
  background-color: #E91E63;
}

.heartgrid1 {
  grid-area: 1 / 3 / 2 / 4;
}

.heartgrid2 {
  grid-area: 2 / 1 / 3 / 2;
}

.heartgrid3 {
  grid-area: 2 / 2 / 3 / 3;
}

.heartgrid4 {
  grid-area: 2 / 3 / 3 / 4;
}

.heartgrid5 {
  grid-area: 2 / 4 / 3 / 5;
}

.heartgrid6 {
  grid-area: 3 / 2 / 4 / 3;
}


/* HUMMINGBIRD */

.hummingbirdgrid {
  width: 480px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  transform: rotate(-45deg);
}

.hummingbirdgrid>div {
  width: 120px;
  height: 120px;
  background-color: #f35a02;
}


.hummingbirdgrid1 {
  grid-area: 1 / 3 / 2 / 4;
}

.hummingbirdgrid2 {
  grid-area: 1 / 4 / 2 / 5;
}

.hummingbirdgrid3 {
  grid-area: 2 / 1 / 3 / 2;
}

.hummingbirdgrid4 {
  grid-area: 2 / 2 / 3 / 3;
}

.hummingbirdgrid5 {
  grid-area: 2 / 3 / 3 / 4;
}

.hummingbirdgrid6 {
  grid-area: 3 / 3 / 4 / 4;
}







/* Gatsby Starter Styles */
.pagination {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}

.pagination li {
  list-style: none;
  display: inline-block;
}

.pagination li:not(.next):not(.previous) a {
  padding: 15px;
  display: block;
}

.pagination .next {
  justify-self: end;
}

.pagination .previous {
  justify-self: start;
}